
label, input, button{
    margin: 10px;
    padding: 5px; 
    display: flex;
    align-items: center;
}
label{
    font-size: 1rem;
    font-weight: bold;
}
input{
    border-radius: 5px;
}
/* .LoginForm{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 250px;
}
label {
    font-size: 1rem;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
  
  button {
    margin-top: 100px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
  } */
footer {
    bottom: 0;
    position: absolute;
    width: 90%;
    height: 40px;
}