label, input, button{
    margin: 10px;
    padding: 5px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}
input{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer {
    bottom: 0;
    position: absolute;
    width: 90%;
    height: 40px;
}